<h1><%= @merchant.name %></h1>
<br>
<%= link_to "Items", merchant_items_path(@merchant) %>
<br>
<%= link_to "Invoices", merchant_invoices_path(@merchant) %>

<div id="fav_customers">
  <h2> Favorite Customers </h2>
  <ol>
    <% @merchant.top_five_customers.each do |customer| %>
      <li><%= "#{customer.first_name} #{customer.last_name} - #{customer.transaction_count} purchases" %></li>
    <% end %>
  </ol>
</div>
