<h1> @invoice.id </h1>

<div class="item-info">
<% "Status: #{@invoice.status}" %>
<% "Created at: #{@invoice.formatted_date}" %>
<% "Customer: #{@invoice.customer.first_name} #{@invoice.customer.last_name}" %>
</div>
