<div class="nav">
  <div class="nav-item-left"
    <h1>Admin Dashboard</h1>
  </div>
  <div class="nav-items-right">
    <ul>
      <li>
        <%= link_to 'Dashboard', admin_dashboard_index_path %>
      </li>
      <li class="nav-item">
        <%= link_to 'Merchants', admin_merchants_path %>
      </li>
      <li class="nav-item">
        <%= link_to 'Invoices', admin_invoices_path %>
      </li>
    </ul>
  </div>
</div>
      
