<div id="merchant_name">
  <h1><%= @merchant.name %></h1>
</div>

<div id="update_merchant">
  <%= link_to "Update #{@merchant.name}", edit_admin_merchant_path(@merchant) %>
</div>

<%= flash[:notice] %>