<h1><%= @item.name %> </h1>
<ul>
  <li>Description: <%= @item.description %> </li>
  <li>Price: $<%= @item.unit_price.to_f/100 %> </li>
</ul>
<%= link_to "Edit Item", edit_merchant_item_path(@item.merchant, @item) %>
